{% extends "base.html" %}
{% load static %}
  

  {% block hero %}
  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="fade-up" data-aos-delay="150">
      <h1>Design. Develop. Construct</h1>
      <h2>Real Estate Partner you can trust.</h2>
      <div class="d-flex">
        <a href="{% url 'projects' 'real-estate' %}" class="btn-get-started scrollto">See Projects</a>
        <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a> -->
      </div>
    </div>
  </section><!-- End Hero -->
  {% endblock %}

  <main id="main">

    {% block about %}
    <!-- ======= Services Section ======= -->
    <section id="about" >
    <section class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Us</h2>
          <p>Core Values</p>
        </div>
        <div class="row" data-aos="fade-up" data-aos-delay="200">
          <div class="col-md-6">
            <div class="icon-box">
              <i class="bi bi-check-all"></i>
              <h4><a href="#">Excellence</a></h4>
              <p>We strive for the highest standards in all our projects.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-eye"></i>
              <h4><a href="#">Integrity</a></h4>
              <p>We conduct our business with transparency and honesty.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-brightness-high"></i>
              <h4><a href="#">Innovation</a></h4>
              <p>We embrace new ideas and technologies to improve our services.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-globe2"></i>
              <h4><a href="#">Sustainability</a></h4>
              <p>We prioritize eco-friendly practices to minimize environmental impact.</p>
            </div>
          </div>
          <!-- <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-card-checklist"></i>
              <h4><a href="#">Magni Dolore</a></h4>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-clock"></i>
              <h4><a href="#">Eiusmod Tempor</a></h4>
              <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
            </div>
          </div> -->
        </div>

      </div>
    </section><!-- End Services Section -->
    <!-- ======= About Section ======= -->
    <section id="" class="about">
      <div class="container" data-aos="fade-up">
<!--        <div class="row justify-content-end">-->
<!--          <div class="col-lg-11">-->
<!--            <div class="row justify-content-end">-->

<!--              <div class="col-lg-4 col-md-5 col-6 d-md-flex align-items-md-stretch">-->
<!--                <div class="count-box">-->
<!--                  <i class="bi bi-emoji-smile"></i>-->
<!--                  <span data-purecounter-start="0" data-purecounter-end="{{project_count}}" data-purecounter-duration="1" class="purecounter"></span>-->
<!--                  <p>Happy Clients</p>-->
<!--                </div>-->
<!--              </div>-->

<!--              <div class="col-lg-4 col-md-5 col-6 d-md-flex align-items-md-stretch">-->
<!--                <div class="count-box">-->
<!--                  <i class="bi bi-journal-richtext"></i>-->
<!--                  <span data-purecounter-start="0" data-purecounter-end="{{project_count}}" data-purecounter-duration="1" class="purecounter"></span>-->
<!--                  <p>Projects</p>-->
<!--                </div>-->
<!--              </div>-->

<!--              <div class="col-lg-4 col-md-5 col-6 d-md-flex align-items-md-stretch">-->
<!--                <div class="count-box">-->
<!--                  <i class="bi bi-clock"></i>-->
<!--                  <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="1" class="purecounter"></span>-->
<!--                  <p>Years of experience</p>-->
<!--                </div>-->
<!--              </div>-->

<!--              &lt;!&ndash; <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">-->
<!--                <div class="count-box">-->
<!--                  <i class="bi bi-award"></i>-->
<!--                  <span data-purecounter-start="0" data-purecounter-end="48" data-purecounter-duration="1" class="purecounter"></span>-->
<!--                  <p>Awards</p>-->
<!--                </div>-->
<!--              </div> &ndash;&gt;-->

<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

        <div class="row">

          <div class="col-lg-6 video-box align-self-baseline" data-aos="zoom-in" data-aos-delay="100">
            <img src="{% static 'assets/img/img-2.jpg' %}" class="img-fluid" alt="">
            <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4"></a> -->
          </div>

          <div class="col-lg-6 pt-3 pt-lg-0 content">
            <h3>Why Choose Us</h3>
            <p class="fst-italic">
              Archen Prime Limited is your trusted partner in Real Estate, Construction, and Design & Consultancy services. 
              Our commitment to excellence and sustainability ensures that each project we undertake is a testament to quality, innovation, and meticulous attention to detail.
            </p>
            <p class="fst-italic">
              Our integrated approach and unwavering commitment to quality make us a trusted partner for all your real estate, construction, and design needs. We aim to create sustainable and low-maintenance solutions that stand the test of time.
            </p>
<!--            <h4>Core Values</h4>-->
<!--            <ul>-->
<!--              <li><i class="bx bx-check-double"></i> Excellence: We strive for the highest standards in all our projects.</li>-->
<!--              <li><i class="bx bx-check-double"></i> Integrity: We conduct our business with transparency and honesty.</li>-->
<!--              <li><i class="bx bx-check-double"></i> Innovation: We embrace new ideas and technologies to improve our services.</li>-->
<!--              <li><i class="bx bx-check-double"></i> Sustainability: We prioritize eco-friendly practices to minimize environmental impact.</li>-->
<!--            </ul>-->
            
            <p>
              For more information or to discuss your next project, please contact us at <strong>+234 807 824 5569.</strong>
            </p>
          </div>

        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="zoom-in">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <!-- <img src="../static/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt=""> -->
                <h3>Our Mission</h3>
                <!-- <h4>Ceo &amp; Founder</h4> -->
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    To provide top-tier real estate development, construction, and design services while maintaining a steadfast commitment to sustainability and innovation
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <!-- <img src="../static/assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt=""> -->
                <h3>Our Vision</h3>
                <!-- <h4>Designer</h4> -->
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  To be a leader in the built environment, known for our expertise, quality, and client-centric approach.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <!-- <img src="../static/assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt=""> -->
                <h3>Our Team</h3>
                <!-- <h4>Store Owner</h4> -->
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Led by seasoned professionals with over 20 years of combined experience, our team brings a wealth of knowledge and expertise to every project. Our collaborative approach ensures that we understand and meet the unique needs of each client, providing a seamless and efficient experience from start to finish.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <!-- <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="../static/assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div>
            End testimonial item

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="../static/assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div> -->
            <!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->
    </section>
    <!-- Start Team  Section -->
    <!-- <section id="team" class="team section-bg">
      <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          <p>Check our Team</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="member aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
              <div class="pic"><img src="assets/img/team/team-1.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Walter White</h4>
                <span>Chief Executive Officer</span>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <div class="pic"><img src="assets/img/team/team-2.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>Product Manager</span>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="pic"><img src="assets/img/team/team-3.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>CTO</span>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section> -->
    <!-- End Team Section -->
    {% endblock %}

    {% block services %}
    <!-- ======= About Boxes Section ======= -->
    <section id="services" class="about-boxes">
      <div class="container" data-aos="fade-up">
        
        <div class="section-title">
          <h2>Services</h2>
          <p>Check our Services</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
              <div class="card">
                <a href="{% url 'projects' 'real-estate' %}">
                  <img src="{% static 'assets/img/img-1.jpg' %}" class="card-img-top" alt="...">
                </a>
                <div class="card-icon">
                  <i class="ri-community-line"></i>
                </div>
                <div class="card-body">
                  <h5 class="card-title"><a href="{% url 'projects' 'real-estate' %}">Real Estate</a></h5>
                  <p class="card-text">At Archen Prime Limited, our real estate services are all about creating vibrant and sustainable communities. Whether you’re looking to develop a new property, manage an existing one... <a href="{% url 'projects' 'real-estate' %}">see projects</a></p>
                </div>
              </div>
            </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="card">
              <a href="{% url 'projects' 'construction' %}">
                <img src="{% static 'assets/img/construction-1.jpg' %}" class="card-img-top" alt="...">
              </a>
              <div class="card-icon">
                <i class="ri-hammer-line"></i>
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="{% url 'projects' 'construction' %}">Construction</a></h5>
                <p class="card-text">Building dreams is at the heart of what we do at Archen Prime Limited. From constructing new homes and commercial spaces to renovating and remodeling existing ones... <a href="{% url 'projects' 'construction' %}">see projects</a> </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="card">
              <a href="{% url 'projects' 'consultancy' %}">
                <img src="{% static 'assets/img/consultancy-1.jpg' %}" class="card-img-top" alt="...">
              </a>
              <div class="card-icon">
                <i class="ri-user-2-line"></i>
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="{% url 'projects' 'consultancy' %}">Design & Consultancy</a></h5>
                <p class="card-text">At Archen Prime Limited, we believe that great design makes life better. Our design and consultancy services cover everything from architectural and interior design to comprehensive project management... <a href="{% url 'projects' 'consultancy' %}">see projects</a> </p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Boxes Section -->
    {% endblock %}

    {% block gallery %}
    <!-- ======= Portfolio Section ======= -->
    <!-- <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Gallery</h2>
          <p>Check our gallery</p>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="{% static 'assets/img/portfolio/portfolio-1.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>App 1</h4>
              <p>App</p>
              <a href="{% static 'assets/img/portfolio/portfolio-1.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="{% static 'assets/img/portfolio/portfolio-2.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
              <a href="{% static 'assets/img/portfolio/portfolio-2.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="{% static 'assets/img/portfolio/portfolio-3.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>App 2</h4>
              <p>App</p>
              <a href="{% static 'assets/img/portfolio/portfolio-3.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="{% static 'assets/img/portfolio/portfolio-4.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Card 2</h4>
              <p>Card</p>
              <a href="{% static 'assets/img/portfolio/portfolio-4.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="{% static 'assets/img/portfolio/portfolio-5.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Web 2</h4>
              <p>Web</p>
              <a href="{% static 'assets/img/portfolio/portfolio-5.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="{% static 'assets/img/portfolio/portfolio-6.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>App 3</h4>
              <p>App</p>
              <a href="{% static 'assets/img/portfolio/portfolio-6.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="{% static 'assets/img/portfolio/portfolio-7.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Card 1</h4>
              <p>Card</p>
              <a href="{% static 'assets/img/portfolio/portfolio-7.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="{% static 'assets/img/portfolio/portfolio-8.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Card 3</h4>
              <p>Card</p>
              <a href="{% static 'assets/img/portfolio/portfolio-8.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="{% static 'assets/img/portfolio/portfolio-9.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
              <a href="{% static 'assets/img/portfolio/portfolio-9.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

        </div>

      </div>
    </section> -->
    <!-- End Portfolio Section -->
    {% endblock %}

    {% block contact %}
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

    <div class=" section-title">
        <h2>Contact</h2>
        <p>Contact Us</p>
      </div>

      <div class="row">

        <div class="col-lg-12">

          <div class="row">
            <div class="col-md-12">
              <div class="info-box">
                <i class="bx bx-map"></i>
                <h3>Our Address</h3>
                <p>17 Sura Mogaji Street, Ilupeju, Lagos</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box mt-4">
                <i class="bx bx-envelope"></i>
                <h3>Email Us</h3>
                <a href="mailto:archenprime@gmail.com"><p>archenprime@gmail.com</p></a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box mt-4">
                <i class="bx bx-phone-call"></i>
                <h3>Call Us</h3>
                <a href="tel:+234 807 824 5569">+234 807 824 5569</a>
              </div>
            </div>
          </div>

        </div>

        <!-- <div class="col-lg-6 mt-4 mt-lg-0">
          <form action="forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div> -->

      </div>

      </div>
    </section><!-- End Contact Section -->
    {% endblock %}

  </main><!-- End #main -->
